body {
  padding: 50px;
}

main {
  max-width: 800px;
  margin: auto;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
  margin: 2em 0 1em;
}

p {
  font-size: 18px;
  margin: 20px 0;
  line-height: 1.7em;
}

.btn {
  background: white;
  margin: 10px 0;
  border: solid 1px #d7d7d7;
  border-radius: 5px;
  padding: 10px 20px;
  color: #353535;
  font-size: 14px;
}

a {
  color: #205dab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
